<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>HomeIndex</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
{#  <link href="/static/Index/assets/img/favicon.png" rel="icon">#}
  <link href="/static/Index/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/Index/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/Index/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/Index/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/Index/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/Index/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/Index/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <style>


    </style>
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">



    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="/static/Index/assets/img/logo.png" alt=""> -->
          <h1 class="sitename">BUILDMATE</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/login" >LOGIN</a></li>
            <li><a href="/registration">REGISTER</a></li>

          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
            <h1>Welcome to <span>Buildmate</span></h1>
<p>Your trusted platform for high-quality construction materials, connecting builders with the best supplies for every project.</p>
            <div class="d-flex">
              <a href="/login" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </section>
{#      <!-- /Hero Section -->#}
{#<section id="featured-products" class="featured-products section">#}
{#  <div class="container">#}
{#    <div class="row gy-4">#}
{#      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">#}
{#        <div class="product-item position-relative">#}
{#          <div class="icon">#}
{#            <img src="/static/assets/img/ambuja.jpg" alt="Ambuja Cement">#}
{#          </div>#}
{#        </div>#}
{#      </div><!-- End Product Item -->#}
{##}
{#      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">#}
{#        <div class="product-item position-relative">#}
{#          <div class="icon">#}
{#            <img src="/static/assets/img/birla_a1_opc_cement.jpg" alt="Birla A1 OPC Cement">#}
{#          </div>#}
{#        </div>#}
{#      </div><!-- End Product Item -->#}
{##}
{#      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">#}
{#        <div class="product-item position-relative">#}
{#          <div class="icon">#}
{#            <img src="/static/assets/img/birla_a1_ppc_cement_2.jpg" alt="Birla A1 PPC Cement">#}
{#          </div>#}
{#        </div>#}
{#      </div><!-- End Product Item -->#}
{##}
{#      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">#}
{#        <div class="product-item position-relative">#}
{#          <div class="icon">#}
{#            <img src="/static/assets/img/birlaconcrete.png" alt="Birla Concrete">#}
{#          </div>#}
{#        </div>#}
{#      </div><!-- End Product Item -->#}
{#    </div>#}
{#  </div>#}
{#</section>#}
<!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <!-- Section Title --><section id="about" class="about section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p><span>Find Out More</span> <span class="description-title">About Us</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-3">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <img src="/static/Index/assets/aboutus.jpg" alt="About BuildMate" class="img-fluid">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="about-content ps-0 ps-lg-3">
          <h3>Your Trusted Partner for Quality Construction Materials</h3>
          <p class="fst-italic">
            At BuildMate, we are committed to providing premium quality construction materials with unmatched service and fast delivery to ensure your projects are completed on time and to the highest standards.
          </p>
          <ul>
            <li>
              <i class="bi bi-diagram-3"></i>
              <div>
                <h4>Comprehensive Product Range</h4>
                <p>We offer a wide variety of materials, from plywood and multiwood to gypsum and related products, to meet all your construction needs.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h4>Innovative Procurement Solutions</h4>
                <p>Our platform is designed to streamline your material procurement, making it easier to place bulk orders, track deliveries, and get customized solutions.</p>
              </div>
            </li>
          </ul>
          <p>
            BuildMate is more than just a supplier — we are your partner in building a sustainable future. With a focus on eco-friendly products, competitive pricing, and exceptional customer service, we are here to support your project from start to finish.
          </p>
        </div>
      </div>
    </div>

  </div>

</section>
<!-- /About Section -->

    <!-- Skills Section -->


    <!-- Clients Section -->
    <h1 style="color: black;text-align: center;">Popular Brands</h1>

    <section id="clients" class="clients section light-background">

      <div class="container">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Acc.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Ambuja.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/BirlaWhite.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Centuryply.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Chettinad.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Kajaria.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Kitply.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/Index/Brand_logo/Strongcrete.jpg" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>

    </section>
        <!-- /Clients Section -->

    <!-- Services Section --><section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p><span>Check Our</span> <span class="description-title">Services</span></p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">

      <!-- Service 1: Fast Delivery -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-truck"></i>
          </div>
          <a class="stretched-link">
            <h3>Fast Delivery</h3>
          </a>
          <p>We guarantee the fast and safe delivery of construction materials to your site, ensuring your projects stay on track.</p>
        </div>
      </div><!-- End Service Item -->

      <!-- Service 2: Quality Assurance -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-shield-check"></i>
          </div>
          <a class="stretched-link">
            <h3>Quality Assurance</h3>
          </a>
          <p>All our materials go through stringent quality checks to ensure they meet industry standards for durability and performance.</p>
        </div>
      </div><!-- End Service Item -->

      <!-- Service 3: Custom Orders -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-hammer"></i>
          </div>
          <a class="stretched-link">
            <h3>Custom Orders</h3>
          </a>
          <p>We offer tailored solutions, whether you need custom sizes, specific materials, or bulk orders for your unique project requirements.</p>
        </div>
      </div><!-- End Service Item -->

      <!-- Service 4: Competitive Pricing -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-cash-stack"></i>
          </div>
          <a  class="stretched-link">
            <h3>Competitive Pricing</h3>
          </a>
          <p>We offer the best prices in the market without compromising on quality, ensuring affordability for your construction needs.</p>
        </div>
      </div><!-- End Service Item -->

      <!-- Service 5: Eco-Friendly Products -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
  <i class="bi bi-recycle"></i>
          </div>
          <a  class="stretched-link">
            <h3>Eco-Friendly Products</h3>
          </a>
          <p>Our materials are environmentally sustainable, allowing you to contribute to green construction practices.</p>
        </div>
      </div><!-- End Service Item -->

      <!-- Service 6: 24/7 Customer Support -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-headset"></i>
          </div>
          <a  class="stretched-link">
            <h3>24/7 Customer Support</h3>
          </a>
          <p>Our dedicated customer support team is available 24/7 to assist you with inquiries, order tracking, and any issues you may face.</p>
        </div>
      </div><!-- End Service Item -->

    </div>
  </div>

</section><!-- /Services Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="/static/Index/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/Index/assets/img/akash.JPG" class="testimonial-img" alt="">
                <h3>Akash</h3>
                <h4>Owner &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
<span>BuildMate has transformed the way we manage construction materials. Their platform is easy to use, eco-friendly, and ensures that we always have access to high-quality products, delivered on time. Highly recommend for any construction project!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/Index/assets/img/anutti.jpeg" class="testimonial-img" alt="">
                <h3>Anusree</h3>
                <h4>Construction Project Manager</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
      <span>BuildMate has simplified project management. We can easily track our materials, place orders, and ensure they arrive right on schedule.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/Index/assets/img/dhathu.JPG" class="testimonial-img" alt="">
                <h3>Sandra</h3>
                <h4>General Contractor</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
      <span>BuildMate allows us to browse a wide selection of quality materials and place orders instantly, helping us stay on budget and meet deadlines.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/Index/assets/img/anugrah.JPG" class="testimonial-img" alt="">
                <h3>Anugrah</h3>
                <h4>Freelancer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
      <span>With BuildMate, I can access a variety of construction materials in one place, saving me valuable time and helping me find the best deals.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/static/Index/assets/img/sinan.jpeg" class="testimonial-img" alt="">
                <h3>Sinan</h3>
                <h4>Entrepreneur</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
      <span>Thanks to BuildMate, our supply chain is seamless. We receive materials on time, and our projects move forward without delays.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

{#    <!-- Contact Section -->#}
{#    <section id="contact" class="contact section">#}
{##}
{#      <!-- Section Title -->#}
{#      <div class="container section-title" data-aos="fade-up">#}
{#        <h2>Contact</h2>#}
{#        <p><span>Need Help?</span> <span class="description-title">Contact Us</span></p>#}
{#      </div><!-- End Section Title -->#}
{##}
{#      <div class="container" data-aos="fade-up" data-aos-delay="100">#}
{##}
{#        <div class="row gy-4">#}
{##}
{#          <div class="col-lg-5">#}
{##}
{#            <div class="info-wrap">#}
{#              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">#}
{#                <i class="bi bi-geo-alt flex-shrink-0"></i>#}
{#                <div>#}
{#                  <h3>Address</h3>#}
{#                  <p> Koyilandyt, Calicut, Pin 673522</p>#}
{#                </div>#}
{#              </div><!-- End Info Item -->#}
{##}
{#              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">#}
{#                <i class="bi bi-telephone flex-shrink-0"></i>#}
{#                <div>#}
{#                  <h3>Call Us</h3>#}
{#                  <p>+91 7034579250 </p>#}
{#                </div>#}
{#              </div><!-- End Info Item -->#}
{##}
{#              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">#}
{#                <i class="bi bi-envelope flex-shrink-0"></i>#}
{#                <div>#}
{#                  <h3>Email Us</h3>#}
{#                  <p>akash@gmail.com</p>#}
{#                </div>#}
{#              </div><!-- End Info Item -->#}
{##}
{#<iframe#}
{#  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.3569121793266!2d75.6996902!3d11.4281618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba68bb3a4e1d8d7%3A0xcd81cea0ec1df088!2sCKM%20GENERAL%20TRADING!5e0!3m2!1sen!2sin!4v1695569895801!5m2!1sen!2sin"#}
{#  width="100%"#}
{#  height="270"#}
{#  style="border:0;"#}
{#  allowfullscreen=""#}
{#  loading="lazy"#}
{#  referrerpolicy="no-referrer-when-downgrade">#}
{#</iframe>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-7">#}
{#            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">#}
{#              <div class="row gy-4">#}
{##}
{#                <div class="col-md-6">#}
{#                  <label for="name-field" class="pb-2">Your Name</label>#}
{#                  <input type="text" name="name" id="name-field" class="form-control" required="">#}
{#                </div>#}
{##}
{#                <div class="col-md-6">#}
{#                  <label for="email-field" class="pb-2">Your Email</label>#}
{#                  <input type="email" class="form-control" name="email" id="email-field" required="">#}
{#                </div>#}
{##}
{#                <div class="col-md-12">#}
{#                  <label for="subject-field" class="pb-2">Subject</label>#}
{#                  <input type="text" class="form-control" name="subject" id="subject-field" required="">#}
{#                </div>#}
{##}
{#                <div class="col-md-12">#}
{#                  <label for="message-field" class="pb-2">Message</label>#}
{#                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>#}
{#                </div>#}
{##}
{#                <div class="col-md-12 text-center">#}
{#                  <div class="loading">Loading</div>#}
{#                  <div class="error-message"></div>#}
{#                  <div class="sent-message">Your message has been sent. Thank you!</div>#}
{##}
{#                  <button type="submit">Send Message</button>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </form>#}
{#          </div><!-- End Contact Form -->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </section><!-- /Contact Section -->#}

  </main>

  <footer id="footer" class="footer">



    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="sitename">BuildMate</span>
          </a>
          <div class="footer-contact pt-3">
            <p>CKM General Trading, Koyilandi</p>
            <p>Kerala, India</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 98765 43210</span></p>
            <p><strong>Email:</strong> <span>support@buildmate.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#about">About Us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Products</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a >Material Procurement</a></li>
            <li><i class="bi bi-chevron-right"></i> <a >Logistics Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a >Custom Orders</a></li>
            <li><i class="bi bi-chevron-right"></i> <a >Bulk Supply</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Connect with us on social media to stay informed about new arrivals and industry updates.</p>
          <div class="social-links d-flex">
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">BuildMate</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by Buildmate
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/Index/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/Index/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/Index/assets/vendor/aos/aos.js"></script>
  <script src="/static/Index/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/Index/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/Index/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/Index/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/Index/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/Index/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/Index/assets/js/main.js"></script>

</body>

</html>